body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-image: url('https://wallpaper.dog/large/20393711.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.Green {
  cursor: auto;
  border: 0.15em solid rgb(6, 240, 15)!important;
  color: white !important;
  text-shadow: 0 0 0.5em rgb(6, 240, 15)!important; 
}

.Green:disabled{
  cursor: auto;
}


.Red {
  border: 0.15em solid rgb(255, 0, 0)!important;
  color: #ccc !important;
  text-shadow: 0 0 0.5em rgb(255, 0, 0)!important;
}

.not-visible {
  display: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  align-items: center;
}

.game-header {
  width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 10px 10px;
  height: 130px;
  font-size: x-large;
  font-family: 'Alfa Slab One' , cursive;
  background-color: #282c34;
  color: rgb(217, 176, 255);
}

.img-container img {
  box-sizing: border-box;
  border-radius: 100%;
  width: 85px;
  height: 85px;
  max-width: 90px;
  max-height: 90px;
  align-self: center;
}

.img-container {
  border: 0;
  border-radius: 100%;
  background-image: linear-gradient(to left,#AF40FF, #5B42F3 50%);
  display: flex;
  justify-content: center;  
  width: 95px;
  height: 95px;
}

.question-section {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  margin-top: -70px;
}

.card-img {
  width: 80%;
  height: 800px;
  max-width: 1000px;
  max-height: 850px;
  display: flex;
  align-self: center;
  justify-content: flex-start;
} 

.clock {
  margin-left: -48px;
  display: flex;
  top:170px;
  font-size: 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 85px;
  font-family:sans-serif;
  height: 80px;
  color: rgb(217, 176, 255);
  text-shadow: 0 0 0.5em white!important; 
}

.timeLeftOut {
  color: rgb(145, 29, 29);
  transition: 1.5s ease-out;
  font-size: 52px;
  scale: 10px;
  animation: animate 1.2s linear infinite;
}
@keyframes animate {
  0% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1.0);
  }
}


.card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 698px;
  height: 160px;
  left: -48px;
  top: -55px;
  justify-content: space-between;
}
.card-container h1{
  color: rgb(217, 176, 255);
  position: relative;
  width: 120px;
  height: 90px;
  left: 5px;
  text-align: center;
  font-size: 27px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
}

.card-container span{
  position: relative;
  align-self: center;
  width: 60%;
  top: -80px;
  left: 10px;
  font-size: xx-large;
  color: rgb(217, 176, 255);
}
.card-container p {
  color: white;
  align-self: center;  
  position: relative;
  top: -60px;   
  width: 80%;
}

.border-clock {
  position: absolute;
  width: 95px;
  top: 160px;
  margin-left: -52px;
}

.answer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -25px;
}

.btn-answers {
  cursor: pointer;
  margin: 20px 15px 15px 15px ;
  background-color: transparent;
  border: 0.1rem solid white;
  border-radius: .25em;
  color: white;
  font-size: 15px;
  font-weight: 900;
  width: 260px;
  height: 55px;
  outline: none;
  transition: all 0.3s;
  position: relative;
  top: -0px;
}

 .visible {
  margin-top: -220px;
  position: absolute;
  top: 980px;
  width: 100px;
  margin-left: -50px;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  background: linear-gradient(20deg, #000, #272727);
  color: rgb(217, 176, 255);
  border: solid 1px rgb(217, 176, 255);
  padding: 10px;
  border-radius: 4px;
  transition-duration: 0.2s;
 }
 
 .visible:before {
  content: "»";
  opacity: 0;
  margin-left: -15px;
  transition-duration: 0.2s;
 }
 
 .visible:hover:before {
  margin-left: 0px;
  opacity: 1;
 }
 
 .visible:hover {
  color: rgb(217, 176, 255);
  background: linear-gradient(20deg, #000, #272727);
  border: solid 1px rgb(217, 176, 255);
 }
 .card-container {
  font-family: 'Alfa Slab One' , cursive;
  display: flex;
  flex-direction: column;
  padding: 3em 3em 1em ;
  position: absolute;
  top: 310px;
  width: 698px;
  height: 400px;
  max-width: 900px;
  align-self: center;
  background: linear-gradient(0deg, #000, #272727);
}

.card-container :before, .card-container :after {
  content: '';
  position: absolute;
  left: -3px;
  top: 0px;
  background: linear-gradient(100deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 30s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 2px;
  }
  100% {
    background-position: 0 0;
  }
}

.card-container :after {
  filter: blur(15px);
}